.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 160px;
}

.row {
  width: 100%;
  padding: 8px 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.row p {
  text-align: left;
}

.row input,
textarea {
  padding: 8px;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit {
  margin: 16px 0;
  width: 160px;
  height: 48px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: black;
  color: white;
  font-size: small;
}
